<p>
<h1>Home</h1>
</p>
<p>Hello <%= current_user.email %>!</p>
<p>You are a <%= current_user.role %></p>


    <p>
        You have succesfully authenticated with your Devise account.
        You are now ready to interact with this application.
    </p>

