<h1>New branch offices schedule</h1>

<%= render "form", branch_offices_schedule: @branch_offices_schedule %>

<br>

<div>
  <%= link_to "Back to branch offices schedules", branch_offices_schedules_path %>
</div>
