<p style="color: green"><%= notice %></p>

<%= render @branch_offices_schedule %>

<% if can? :destroy, BranchOfficesSchedule %>
<%= button_to "Destroy this branch office schedule", @branch_offices_schedule ,form: { data: { turbo_confirm: "want to delete it?" } },method: :delete, class: 'btn btn-danger'%>
<% end %>        
<div>
<% if can? :read, BranchOffice %>
<%= link_to "Back to branch offices", branch_offices_path %>
<% end %>
</div>
 