<div id="<%= dom_id sucursal %>">
  <p>
    <strong>Nombre:</strong>
    <%= sucursal.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= sucursal.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= sucursal.telefono %>
  </p>

</div>
